.container {
    margin-top: 30px;
    text-align: center;
    border: 1px solid burlywood;;
    color:cadetblue;
    height: 500px;
    font-family: 'Courier New', Courier, monospace;
    width: 900px;
    margin-left: 210px;
    margin-right: 60px;
    border-radius: 20px;
}
h1{
    font-family: sans-serif;
}
select {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 10px;
}
input {
    color: darkgray;
    border-radius: 5px;
    margin-top: 40px;
}

#enterClassName, .subjects, .age {
    margin-bottom: 25px;
    width: 400px;
    height: 40px;
    border-radius: 5px;
}
input:hover, select:hover {
    background: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    transform: scale(1.1); 
}
input {
    font-size: 20px;
    color: blue;
}
::placeholder{
    padding-left: 20px;
}

.coursegroup {
    margin-bottom: 25px;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    width: 20px;
    height: 20px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 50%;
  }
  input:invalid, select:invalid {
    border: 2px dashed red;
  }
  
  input:valid {
    border: 2px solid black;
  }